---
http_interactions:
- request:
    method: put
    uri: https://api.typeform.com/forms/jOyEkB/webhooks/agent_1061892591
    body:
      encoding: UTF-8
      string: '{"url":"https://78c2a8b3.ngrok.io/users/902541635/web_requests/1061892591/foobar","enabled":true}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Authorization:
      - Bearer token123
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Human:
      - https://www.typeform.com/careers
    body:
      encoding: UTF-8
      string: '{"id":"ZFM4GhXJ5f","form_uid":"jOyEkB","tag":"agent_1061892591","url":"https://78c2a8b3.ngrok.io/users/902541635/web_requests/1061892591/foobar","enabled":true,"created_at":"2018-03-02T14:22:18.27321Z","updated_at":"2018-03-02T14:22:18.27321Z"}

'
  recorded_at: Fri, 02 Mar 2018 14:22:16 GMT
recorded_with: VCR 3.0.3
