---
http_interactions:
- request:
    method: put
    uri: https://api.typeform.com/forms/jOyEkB/webhooks/agent_1061892591
    body:
      encoding: UTF-8
      string: '{"url":"https://78c2a8b3.ngrok.io/users/902541635/web_requests/1061892591/foobar","enabled":true}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Authorization:
      - Bearer 123
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - text/plain; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"code":"AUTHENTICATION_FAILED","description":"Authentication failed"}'
  recorded_at: Fri, 02 Mar 2018 19:43:23 GMT
[...]
- request:
    method: put
    uri: https://api.typeform.com/forms/jOyEkB/webhooks/agent_1061893875
    body:
      encoding: UTF-8
      string: '{"url":"https:///users/902541635/web_requests/1061893875/foobar","enabled":true}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Authorization:
      - Bearer 123
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - text/plain; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"code":"AUTHENTICATION_FAILED","description":"Authentication failed"}'
  recorded_at: Tue, 08 May 2018 12:55:00 GMT
recorded_with: VCR 4.0.0
