---
http_interactions:
- request:
    method: post
    uri: https://translation.googleapis.com/language/translate/v2?key=AIzaSyBjl1hWABkN5z5TZR_meJQYnYnQcQKzYUs
    body:
      encoding: UTF-8
      string: '{"q":["Hola desde aquí"],"target":"en","model":"nmt"}'
    headers:
      Google-Cloud-Resource-Prefix:
      - projects/
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "data": {
            "translations": [
              {
                "translatedText": "Hello from here",
                "detectedSourceLanguage": "es",
                "model": "nmt"
              }
            ]
          }
        }
  recorded_at: Wed, 28 Feb 2018 19:17:01 GMT
recorded_with: VCR 3.0.3
