---
http_interactions:
- request:
    method: get
    uri: https://api.typeform.com/forms/D7aM1F/responses?completed=true&order_by%5B%5D=date_submit,desc&page_size=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Authorization:
      - bearer HVKFmp3ooW5gYMjCEUij6MSJjtXL4KSW4FWucRMLkjUr
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Typeform-Version:
      - '2016-05-25'
      X-Human:
      - https://www.typeform.com/careers
    body:
      encoding: UTF-8
      string: '{"total_items":159278,"page_count":79639,"items":[{"landing_id":"a6a996a607d808f826d7edb2d4b404cb","token":"a6a996a607d808f826d7edb2d4b404cb","landed_at":"2018-02-23T18:37:58Z","submitted_at":"2018-02-23T18:38:47Z","metadata":{"user_agent":"Mozilla/5.0
        (Macintosh; Intel Mac OS X 10_12_6) AppleWebKit/537.36 (KHTML, like Gecko)
        Chrome/64.0.3282.167 Safari/537.36","platform":"other","referer":"https://transferwise.typeform.com/to/D7aM1F?userprofile=4.835.494\u0026score=1\u0026language=es","network_id":"90a2e46c14","browser":"default"},"answers":[{"field":{"id":"27098511","type":"long_text"},"type":"text","text":"Better
        instructions....very specific as to what I will see and what I must do with
        examples"}],"hidden":{"language":"es","score":"1","userprofile":"4.835.494"},"calculated":{"score":0}},{"landing_id":"83a39f45c9cd2c310ea701839ef5c124","token":"83a39f45c9cd2c310ea701839ef5c124","landed_at":"2018-02-23T18:37:47Z","submitted_at":"2018-02-23T18:37:52Z","metadata":{"user_agent":"Mozilla/5.0
        (Macintosh; Intel Mac OS X 10_10_5) AppleWebKit/537.36 (KHTML, like Gecko)
        Chrome/64.0.3282.167 Safari/537.36","platform":"other","referer":"https://transferwise.typeform.com/to/D7aM1F?userprofile=4,817,719\u0026score=2\u0026language=en","network_id":"b4c024a808","browser":"default"},"answers":null,"hidden":{"language":"en","score":"2","userprofile":"4,817,719"},"calculated":{"score":0}}]}'
  recorded_at: Fri, 23 Feb 2018 18:40:12 GMT
[...]
- request:
    method: get
    uri: https://api.typeform.com/forms/D7aM1F/responses?completed=true&order_by%5B%5D=date_submit,desc&page_size=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Authorization:
      - bearer HVKFmp3ooW5gYMjCEUij6MSJjtXL4KSW4FWucRMLkjUr
  response:
    status:
      code: 504
      message: Gateway Time-out
    headers:
      Content-Type:
      - text/html
    body:
      encoding: UTF-8
      string: |+
        <html><body><h1>504 Gateway Time-out</h1>
        The server didn't respond in time.
        </body></html>

  recorded_at: Fri, 23 Feb 2018 19:15:51 GMT
- request:
    method: get
    uri: https://api.typeform.com/forms/D7aM1F/responses?completed=true&order_by%5B%5D=date_submit,desc&page_size=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Authorization:
      - bearer HVKFmp3ooW5gYMjCEUij6MSJjtXL4KSW4FWucRMLkjUr
  response:
    status:
      code: 504
      message: Gateway Time-out
    headers:
      Content-Type:
      - text/html
    body:
      encoding: UTF-8
      string: |+
        <html><body><h1>504 Gateway Time-out</h1>
        The server didn't respond in time.
        </body></html>

  recorded_at: Fri, 23 Feb 2018 19:16:42 GMT
recorded_with: VCR 3.0.3
